/* ORANGE NAVBAR SAME WIDTH AS HERO */
.navbar {
  background-color: #f7941d !important; /* orange */
}

/* LOGIN BUTTON STYLE */
.login-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 15px;
}

.login-btn:hover {
  opacity: 0.8;
}
.navbar {
  background-color: transparent !important;
}