<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">FoodApp 🍕</a>

    <div>
      <a class="nav-link d-inline text-white" routerLink="/">Home</a>
      <a class="nav-link d-inline text-white" routerLink="/restaurants">Restaurants</a>
      <a class="nav-link d-inline text-white" routerLink="/add-restaurant">Add</a>
      <button class="btn btn-light btn-sm ms-2" (click)="openLogin()">
        Login
      </button>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
  <a class="navbar-brand fw-bold text-danger">Foodie 🍕</a>

  <div class="ms-auto d-flex gap-4">
    <a routerLink="/" routerLinkActive="active" class="nav-link d-inline">Home</a>
    <a routerLink="/restaurants" routerLinkActive="active" class="nav-link d-inline ">Restaurants</a>
    <!-- <a class="nav-link d-inline text-white" routerLink="/add-restaurant">Add</a> -->
     <a class="nav-link d-inline" routerLink="/menu">Menu</a>
    <button class="btn btn-light btn-sm ms-2" (click)="openLogin()">
        Login
      </button>
  </div>
</nav>
<div *ngIf="showLogin" class="overlay" (click)="closeLogin()">

  <div class="login-box" (click)="$event.stopPropagation()">

    <h4 *ngIf="isLogin">Login</h4>
    <h4 *ngIf="!isLogin">Signup</h4>

    <input class="form-control mb-2" placeholder="Username" [(ngModel)]="username">

    <input type="password" class="form-control mb-2" placeholder="Password" [(ngModel)]="password">

    <button class="btn btn-primary w-100 mb-2">
      {{ isLogin ? 'Login' : 'Signup' }}
    </button>

    <button class="btn btn-link w-100" (click)="toggleMode()">
      {{ isLogin ? 'First time? Signup' : 'Already have account? Login' }}
    </button>

    <button class="btn btn-danger w-100" (click)="closeLogin()">Close</button>

  </div>

</div>